@import "fonts";
@import "normalize";
@import "aos";
@import "preloader";
@import "fresco";
@import "swiper-bundle";
@import "swiper-gl";
@import "selectric";
@import "default";
$transition: 0.2s;
$px: 0.0625;
// GENERAL DOCUMENT STYLES
* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
html{
  font-family: 'FuturaPT-Book', sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
body{
  background-color: #FEF4E3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.error404{
    .footer{
      background-color: transparent;
    }
  }
  &.search{
    .footer{
      background-color: transparent;
    }
  }
}

.rotation {
  display: inline-block;
  animation: 14s linear 0s normal none infinite running rot;
  -webkit-animation: 14s linear 0s normal none infinite running rot;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.locked{
  overflow: hidden;
}
img{
  max-width: 100%;
}
main{
  flex: 1;
  overflow: hidden;
}
.padding-right{
  padding-right: 169px;
}
.padding-left{
  padding-left: 169px;
}
.main-container{
  max-width: 1920px;
  margin: auto;
  @extend .padding-left;
  @extend .padding-right;
}
.big-container{
  max-width: 1920px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.full-container{
  width: 100%;
  max-width: 1920px;
  margin: auto;
}
.section-title{
  font-family: 'Playfair Display';
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #191919;
  font-weight: 600;
  i{
    text-transform: none;
    font-style: italic;
  }
  @media all and (max-width: 1400px){
    font-size: 45px;
  }
  @media all and (max-width: 1024px){
    font-size: 42px;
  }
  @media all and (max-width: 768px){
    font-size: 39px;
  }
  @media all and (max-width: 500px){
    font-size: 36px;
  }
}
.section-subtitle{
  font-weight: 400;
  font-size: 16px;
  line-height: 159%;
  color: #000000;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  max-width: 776px;
  @media all and (max-width: 1024px){
    font-size: 15px;
  }
  @media all and (max-width: 500px){
    font-size: 14px;
  }
}
.big-title{
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 11.1rem;
  line-height: 11.8rem;
  text-transform: uppercase;
  color: #191919;
  margin-bottom: 1.125vw;
}
.block-title{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  color: #191919;
  i{
    text-transform: none;
    font-style: italic;
  }
}


@import "templates/header";
@import "templates/preloader";
@import "templates/banner";
@import "templates/about";
@import "templates/video";
@import "templates/example";
@import "templates/product";
@import "templates/producttitle";
@import "templates/news";
@import "templates/products";
@import "templates/page-404";
@import "templates/page-contacts";
@import "templates/map";
@import "templates/content-header";
@import "templates/content-company-2col";
@import "templates/content-company-2row";
@import "templates/search";
@import "templates/products-single";
@import "templates/product-else";
@import "templates/product-about";
@import "templates/product-bottom";
@import "templates/interest";
@import "templates/popular";
@import "templates/page-recipes";
@import "templates/pagination";
@import "templates/recipes-single";


@import "templates/main";

@import "templates/footer";