.about{
  padding-top: 203vw * $px;
  padding-bottom: 235vw * $px;
  &__container{
    display: flex;
    @media all and (max-width: 768px){
      flex-wrap: wrap;
    }
  }
  &__marker{
    margin-top: 15px;
    font-family: 'Playfair Display';
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
    color: #B78D41;
    display: flex;
    align-items: center;
    text-decoration: none;
    @media all and (max-width: 768px){
      margin-bottom: 44px;
    }
    &:after{
      content: "";
      display: block;
      width: 19px;
      height: 1px;
      background-color: #B78D41;
      margin-left: 8px;
    }
  }
  &__title{
    font-family: 'Playfair Display';
    text-transform: uppercase;
    color: #191919;
    font-weight: 600;
    margin-bottom: 59vw * $px;
    span{
      @media all and (min-width: 501px){
        display: block;
      }
    }
    i{
      text-transform: none;
      font-style: italic;
    }
  }
  &__desc{
    display: flex;
    flex-wrap: wrap;
    .wrapper{
      width: 50%;
      padding-right: 40vw * $px;
      @media all and (max-width: 600px){
        width: 100%;
      }
    }
    p{
      margin-bottom: 16vw * $px;
      @media all and (max-width: 1024px){
        margin-bottom: 17px;
      }
      @media all and (max-width: 500px){
        margin-bottom: 16px;
      }
    }
  }
  &__left, &__right{
    width: 50%;
    @media all and (max-width: 768px){
      width: 100%;
    }
    a{
      display: inline-block;
    }
  }
}