.content-company-2row{
  background: linear-gradient(180deg, #FEF4E3 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  padding-bottom: 93vw * $px;
  margin-top: 224vw * $px;
  &__title{
    margin-bottom: 122vw * $px;
    span{
      display: block;
      &:first-child{
        text-align: right;
      }
      @media all and (max-width: 1400px){
        font-size: 90px;
        line-height: 96px;
      }
      @media all and (max-width: 1200px){
        font-size: 80px;
        line-height: 86px;
      }
      @media all and (max-width: 1024px){
        font-size: 70px;
        line-height: 74px;
      }
      @media all and (max-width: 768px){
        font-size: 50px;
        text-align: left!important;
        line-height: 52px;
      }
      @media all and (max-width: 500px){
        font-size: 30px;
        line-height: 36px;
      }
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 71vw * $px;
  }
  &__item{
    width: 25%;
    &:nth-child(4){
      margin-left: -169px;
      width: calc(50% + 169px);
    }
    @media all and (max-width: 1024px){
      width: 50%;
      &:nth-child(1){
        order: 2;
      }
      &:nth-child(2){
        order: 3;
      }
      &:nth-child(3){
        order: 1;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        padding: 0;
      }
      &:nth-child(4){
        order: 4;
        width: 100%;
        text-align: center;
        margin-left: 0;
        padding-right: 0;
        margin-bottom: 40px;
      }
      &:nth-child(5){
        order: 5;
      }
      &:nth-child(6){
        order: 6;
      }
    }
    @media all and (max-width: 500px){
      width: 100%;
      img{
        width: 100%;
      }
    }
    &:not(&-else){
      padding-right: 39vw * $px;
      margin-bottom: 120vw * $px;
    }
    &:before {
      display: block;
      content: counter(list-item) "\a0\a0";
      font-family: 'Playfair Display';
      font-weight: 600;
      font-size: 6.4rem;
      line-height: 6.4rem;
      text-align: left;
      text-transform: uppercase;
      color: #B78D41;
      font-feature-settings: normal;
      margin-bottom: 3.1rem;
    }
    &-else{
      width: 50%;
      &:before{
        display: none;
      }
    }
    &-title{
      font-family: 'Playfair Display';
      font-size: 3rem;
      line-height: 3.5rem;
      color: #191919;
      margin-bottom: 3.1rem;
    }
  }
}