.content-header{
  padding-top: 227vw * $px;
  background: linear-gradient(0deg, #FEF4E3 0%, rgba(255, 255, 255, 0) 130%), #FFFFFF;
  &__container{

  }
  &__top{
    position: relative;
    overflow: hidden;
  }
  &__title{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #191919;
    background-size: 650vw * $px 100%;
    @media all and (max-width: 768px){
      background-image: none!important;
    }
  }
  &__bottom{
    margin-top: 155vw * $px;
    display: flex;
    flex-wrap: wrap;
    &-image{
      width: 50%;
      transform: translateY(-304vw * $px);
      @media all and (max-width: 768px){
        display: none;
      }
      .wrapper{
        width: 285vw * $px;
        height: 348vw * $px;
      }
      img, video{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .about__desc{
      display: block;
      width: 50%;
      column-count: 2;
      columns: 2;
      column-gap: 4rem;
      @media all and (max-width: 768px){
        width: 100%;
        margin-bottom: 60px;
      }
      @media all and (max-width: 500px){
        column-count: 1;
        column-gap: 0;
      }
    }
  }
  &__image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    @media all and (max-width: 768px){
      position: relative;
      text-align: left;
      margin-bottom: 60px;
    }
    &-main{
      width: 650vw * $px;
      margin-left: auto;
      height: 745vw * $px;
      @media all and (max-width: 500px){
        height: auto;
      }
      img, video{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      @media all and (max-width: 500px){
        width: 100%;
      }
    }
  }
  &__button{
    position: absolute;
    top: 40vw * $px;
    left: calc(50% - ((168vw * $px) / 2));
    z-index: 3;
    width: 168px;
    height: 168px;
    @media all and (max-width: 500px){
      width: 114px;
      height: 114px;
      top: auto;
      bottom: -50px;
      left: auto;
      right: 20px;
    }
  }
  &__title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12rem;
    line-height: 116%;
    text-transform: uppercase;
    color: #191919;
    display: flex;
    flex-direction: column;
    padding: 124vw * $px 0 200vw * $px 0;
    z-index: 1;
    position: relative;
    @media all and (max-width: 1024px){
      font-size: 80px;
    }
    @media all and (max-width: 900px){
      font-size: 60px;
    }
    span{
      text-align: left;
      &:first-child{
        margin-left: 13rem;
        @media all and (max-width: 900px){
          margin-left: 0;
        }
      }
      &:last-child{
        text-align: center;
        @media all and (max-width: 900px){
          text-align: left;
        }
      }
    }
  }
}