.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 41vw * $px 0;
  z-index: 50;
  transition: $transition;
  &__search{
    flex: 1;
    display: flex;
    justify-content: center;
    @media all and (max-width: 1024px){
      display: none;
    }
    input{
      border: none;
      border-bottom: 2px solid #191919;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: #191919;
      background-color: transparent;
    }
    button{
      border: none;
      background-color: transparent;
    }
  }
  &.moved{
    background-color: white;
    padding: 10vw * $px 0;
  }
  &__burger{
    display: none;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    span{
      display: block;
      width: 24px;
      height: 2px;
      margin: 4px 0;
      background-color: #191919;
      &:nth-child(2){
        width: 15px;
      }
      &:nth-child(3){
        width: 20px;
      }
    }
    @media all and (max-width: 1024px){
      display: flex;
    }
  }
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (max-width: 1024px){
      position: relative;
      height: 40px;
    }
  }
  &__logo{
    width: 446vw * $px;
    @media all and (max-width: 1400px){
      width: 250vw * $px;
    }
  }
  &__nav{
    flex: 1;
    @media all and (max-width: 1024px){
      display: none;
    }
    .menu{
      display: flex;
      align-items: center;
      li{
        margin-right: 40vw * $px;
        &:last-child{
          margin-right: 0;
        }
      }
      a{
        text-decoration: none;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: #191919;
      }
    }
  }
  &__right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media all and (max-width: 1024px){
      display: none;
    }
    .language-chooser{
      display: flex;
      align-items: center;
      margin-left: 40vw * $px;
      a{
        text-transform: uppercase;
      }
    }
    a{
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.1rem;
      color: #191919;
      text-decoration: none;
    }
  }
  &__phone{
    svg{
      margin-right: 1.2rem;
    }
  }
  &__language{
    margin-left: 37vw * $px;
    .selectric{
      border: none;
      background-color: transparent;
      .button{
        width: 10px;
        padding-left: 0;
        padding-right: 0;
        background-color: transparent;
      }
      .label{
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        color: #191919;
        margin-left: 0;
        text-transform: uppercase;
        margin-right: 19px;
      }
    }
    .selectric-items{
      border: none;
      box-shadow: none;
      background-color: transparent;
      li{
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 100%;
        color: #191919;
        text-transform: uppercase;
        padding: 5px 10px 5px 0;
        &:hover{
          background-color: transparent;
          color: red;
        }
        &.selected{
          color: red;
          background-color: transparent;
        }
      }
    }
  }
}