.news{
  margin-top: 232vw * $px;
  padding-bottom: 112vw * $px;
  background: linear-gradient(180deg, #FFF6E7 74.48%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  @media all and (max-width: 768px){
    padding-bottom: 92px;
  }
  .news__container{

  }
  &__title{
    font-family: 'Playfair Display';
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #191919;
    margin-bottom: 0;
    @media all and (max-width: 1024px){
      font-size: 32px;
    }
    @media all and (max-width: 768px){
      font-size: 28px;
    }
    @media all and (max-width: 500px){
      font-size: 24px;
    }
    i{
      font-style: italic;
      text-transform: lowercase;
    }
  }
  &__header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media all and (max-width: 768px){
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
  &__lnk{
    @media all and (max-width: 768px){
      margin-bottom: 24px;
    }
  }
  &__list{
    margin-top: 42vw * $px;
    margin-bottom: 93vw * $px;
  }
  &__item{
    padding: 42vw * $px 0;
    position: relative;
    @media all and (min-width: 769px){
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @media all and (max-width: 768px){
      padding: 50px 0;
    }
    &:before{
      content: "";
      display: block;
      height: 2px;
      background-color: #191919;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      position: absolute;
      transition: $transition;
    }
    @media all and (min-width: 768px){
      &:hover{
        &:before{
          background-color: #B78D41;
        }
        .news__prev{
          opacity: 1;
        }
        .news__item-tag{
          background-color: #B78D41;
          color: #FFFFFF;
        }
        .news__item-date{
          color: #B78D41;
        }
        .news__item-title{
          a{
            color: #B78D41;
          }
        }
        .news__item-excerpt{
          color: #B78D41;
        }
      }
    }
    &-title{
      margin-bottom: 19vw * $px;
      z-index: 1;
      position: relative;
      text-transform: uppercase;
      @media all and (min-width: 769px){
        margin-bottom: 0;
      }
      @media all and (max-width: 768px){
        margin-bottom: 29px;
      }
      a{
        text-decoration: none;
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        line-height: 3.5rem;
        color: #191919;
        transition: $transition;
        @media all and (max-width: 768px){
          font-size: 18px;
        }
      }
    }
    &-excerpt{
      //font-family: 'Futura PT';
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.2rem;
      color: #191919;
      transition: $transition;
      z-index: 1;
      position: relative;
      @media all and (max-width: 768px){
       font-size: 16px;
        line-height: 22px;
      }
    }
    &-param{
      //position: absolute;
      right: 0;
      top: 50vw * $px;
      display: flex;
      //flex-direction: column;
      z-index: 1;
      @media all and (min-width: 769px){
        display: flex;
        align-items: center;
      }
      @media all and (max-width: 768px){
        position: static;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        margin-top: 30px;
      }
    }
    &-date{
      //font-family: 'Futura PT';
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.8rem;
      text-transform: uppercase;
      color: #191919;
      margin-bottom: 20vw * $px;
      text-align: right;
      transition: $transition;
      z-index: 1;
      @media all and (min-width: 769px){
       margin-right: 20px;
        margin-bottom: 0;
      }
      @media all and (max-width: 768px){
        margin-left: 20px;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 14px;
      }
    }
    &-tag{
      font-family: 'Playfair Display';
      font-size: 1.4rem;
      line-height: 1.6rem;
      color: #B78D41;
      padding: 10px 20px;
      border: 1px solid #B78D41;
      transition: $transition;
      z-index: 1;
      text-decoration: none;
      min-width: 100px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @media all and (max-width: 768px){
        font-size: 14px;
      }
    }
  }
  &__prev{
    pointer-events: none;
    position: absolute;
    opacity: 0;
    top: -75vw * $px;
    right: -32vw * $px;
    transition: 0.6s ease-in;
    transform: rotate(-15deg);
    z-index: 0;
  }
  &__bottom{
    display: block;
    text-align: center;
  }
  &__button{
    width: 168px;
    height: 168px;
    @media all and (max-width: 500px){
      width: 114px;
      height: 114px;
    }
  }
}
.home {
  .news{
    &__item{
      flex-direction: column;
      align-items: flex-start;
      padding-right: 200px;
      @media all and (max-width: 500px){
        padding-right: 0;
      }
      &-param{
        position: absolute;
        @media all and (max-width: 768px){
          flex-direction: column-reverse;
        }
        @media all and (max-width: 500px){
          position: static;
          flex-direction: row-reverse;
        }
      }
      &-date{
        @media all and (max-width: 768px){
          margin-right: 20px;
          margin-top: 20px;
        }
        @media all and (max-width: 500px){
          margin-top: 0;
        }
      }
    }
  }
}