.page-clients{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #FBF1DF 16.15%, #FBF1DF 86.98%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  .news__bottom{
    padding-bottom: 104vw * $px;
  }
  &__banner{
    padding-top: 228vw * $px;
    padding-bottom: 235vw * $px;
    @media all and (max-width: 1024px){

    }
    &-container{
      position: relative;
      @media all and (max-width: 768px){
        text-align: center;
      }
    }
    .banner__button{
      position: absolute;
      top: 0;
      right: 231vw * $px;
      bottom: auto;
      @media all and (max-width: 1024px){
        right: 0;
        top: auto;
        bottom: -350vw * $px;
      }
      @media all and (max-width: 768px){
        bottom: -10.875vw;
        right: 17vw;
      }
      @media all and (max-width: 500px){
        right: 0;
      }
    }
    .main-img{
      position: absolute;
      left: 336vw * $px;
      top: calc(50% - (348vw * $px) / 2);
      width: 288vw * $px;
      height: auto;
      @media all and (max-width: 1024px){
        width: 400vw * $px;
      }
      @media all and (max-width: 768px){
        position: static;
      }
      @media all and (max-width: 500px){
        width: 100%;
      }
    }
    .right-img{
      position: absolute;
      right: 0;
      bottom: -90vw * $px;
      height: 192vw * $px;
      width: auto;
      @media all and (max-width: 500px){
        display: none;
      }
    }
  }
  &__title{
    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: 400;
    font-size: 120vw * $px;
    line-height: 140vw * $px;
    text-transform: uppercase;
    color: #191919;
    position: relative;
    z-index: 1;
    @media all and (max-width: 500px){
      font-size: 36px;
      line-height: 116%;
    }
    &.white{
      background-repeat: no-repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      mix-blend-mode: plus-lighter;
      position: absolute;
      top: 0;
      width: 100%;
      background-position: 336vw * $px center;
      background-size: 288vw * $px 100%;
      @media all and (max-width: 1024px){
        background-size: 400vw * $px 100%;
      }
      @media all and (max-width: 768px){
        display: none;
      }
    }
    span{
      display: block;
      &:first-child{
        text-align: left;
      }
      &:last-child{
        text-align: center;
        @media all and (max-width: 768px){
          text-align: left;
        }
      }
    }
  }
  &__desc{
    margin-top: 119vw * $px;
    &-header{
      .wrapper{
        padding-left: 332vw * $px;
        @media all and (max-width: 768px){
          padding-left: 0;
        }
        img{
          float: left;
          margin-right: 96vw * $px;
          margin-bottom: 110vw * $px;
          @media all and (max-width: 1024px){
            display: none;
          }
        }
        h2{
          padding-top: 254vw * $px;
          font-family: 'Playfair Display';
          font-size: 38vw * $px;
          line-height: 51vw * $px;
          color: #191919;
          text-transform: uppercase;
          font-weight: 600;
          margin-bottom: 0;
          @media all and (max-width: 1024px){
            padding-top: 0;
          }
          @media all and (max-width: 768px){
            padding-bottom: 40px;
          }
          i{
            font-style: italic;
            text-transform: lowercase;
            font-weight: 400;
          }
        }
      }
    }
    &-first{
      position: relative;
      padding-left: calc(50% + 20px);
      padding-top: 89vw * $px;
      margin-bottom: 174vw * $px;
      @media all and (max-width: 768px){
        padding-left: 0;
      }
      img{
        position: absolute;
        left: 0;
        top: 0;
        @media all and (max-width: 768px){
          position: static;
          width: 50%;
          display: block;
          margin: auto auto 40px auto;
        }
        @media all and (max-width: 500px){
          width: 100%;
        }
      }
      .wrapper{
        padding: 42vw * $px 27vw * $px 42vw * $px 38vw * $px;
        background-color: #FFFFFF;
        position: relative;
        .products-single__lnk{
          bottom: -130px;
          left: -100px;
          right: auto;
          top: auto;
          @media all and (max-width: 768px){
            left: 73%;
            bottom: -162px;
          }
          img{
            position: static;
            @media all and (max-width: 768px){
              width: 100%;
              margin: 0;
            }
          }
        }
        h3{
          font-family: 'Playfair Display';
          font-style: normal;
          font-weight: 700;
          font-size: 24vw * $px;
          line-height: 133%;
          text-transform: uppercase;
          color: #191919;
          max-width: 340vw * $px;
          margin-bottom: 30vw * $px;
          @media all and (max-width: 1024px){
            font-size: 2.4rem;
          }
          i{
            font-style: italic;
            text-transform: lowercase;
          }
        }
        ul{
          padding-left: 7px;
        }
        p{
          &:last-child{
            margin-bottom: 0;
          }
        }
        li{
          font-weight: 400;
          font-size: 16vw * $px;
          line-height: 138.52%;
          margin-bottom: 0;
          color: #B78D41;
          padding-left: 22px;
          @media all and (max-width: 1024px){
            font-size: 14px;
          }
          &::marker{
            content: '+';
            margin-right: 15px;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    &-second{
      text-align: right;
      @media all and (max-width: 768px){
        display: flex;
        flex-direction: column-reverse;
      }
      .wrapper{
        padding: 42vw * $px 27vw * $px 42vw * $px 38vw * $px;
        background-color: #FFFFFF;
        width: calc(50% + 20px);
        position: relative;
        text-align: left;
        @media all and (max-width: 768px){
          width: 100%;
        }
        p{
          &:last-child{
            margin-bottom: 0;
          }
          &:nth-last-child(2){
            margin-bottom: 14vw * $px;
          }
        }
        h3{
          font-family: 'Playfair Display';
          font-style: normal;
          font-weight: 700;
          font-size: 24vw * $px;
          line-height: 133%;
          text-transform: uppercase;
          color: #191919;
          margin-bottom: 30vw * $px;
          @media all and (max-width: 1024px){
            font-size: 2.4rem;
          }
          i{
            font-style: italic;
            text-transform: lowercase;
          }
        }
        ul{
          padding-left: 7px;
        }
        li{
          font-weight: 400;
          font-size: 16vw * $px;
          line-height: 138.52%;
          margin-bottom: 0;
          color: #B78D41;
          padding-left: 22px;
          @media all and (max-width: 1024px){
            font-size: 14px;
          }
          &:last-child{
            margin-bottom: 0;
          }
          &::marker{
            content: '+';
            margin-right: 15px;
          }
        }
        a{
          color: #B78D41;
          text-decoration: none;
        }
      }
      img{
        margin-top: -187vw * $px;
        width: 1110vw * $px;
        height: auto;
        @media all and (max-width: 768px){
          margin: 0 auto 40px auto;
          width: 50%;
        }
        @media all and (max-width: 500px){
          width: 100%;
        }
      }
    }
    &-third{
      position: relative;
      padding-left: calc(50% + 20px);
      margin-bottom: 182vw * $px;
      margin-top: 201vw * $px;
      @media all and (max-width: 768px){
        padding-left: 50px;
      }
      @media all and (max-width: 500px){
        padding-left: 20px;
      }
      img{
        position: absolute;
        left: 344vw * $px;
        top: 117vw * $px;
        width: 118vw * $px;
        @media all and (max-width: 768px){
          position: static;
          width: 50%;
          display: block;
          margin: auto auto 40px auto;
        }
        @media all and (max-width: 500px){
          width: 100%;
        }
      }
      .wrapper{
        padding: 42vw * $px 27vw * $px 42vw * $px 38vw * $px;
        background-color: #FFFFFF;
        h3{
          font-family: 'Playfair Display';
          font-style: normal;
          font-weight: 700;
          font-size: 24vw * $px;
          line-height: 133%;
          text-transform: uppercase;
          color: #191919;
          max-width: 340vw * $px;
          margin-bottom: 30vw * $px;
          @media all and (max-width: 1024px){
            font-size: 2.4rem;
            max-width: none;
          }
          i{
            font-style: italic;
            text-transform: lowercase;
          }
        }
        ul{
          padding-left: 7px;
        }
        p{
          &:last-child{
            margin-bottom: 0;
          }
        }
        li{
          font-weight: 400;
          font-size: 16vw * $px;
          line-height: 138.52%;
          margin-bottom: 0;
          color: #B78D41;
          padding-left: 22px;
          @media all and (max-width: 1024px){
            font-size: 14px;
          }
          &::marker{
            content: '+';
            margin-right: 15px;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}