.products{
  padding-top: 213vw * $px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FEF4E3 43.71%, #FEF4E3 83.85%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  padding-bottom: 184vw * $px;
  &__container{

  }
  &__header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  &__title{
  margin-bottom: 0;
  }
  &__filter{
    display: flex;
    align-items: center;
  }
  &__list{
    margin-top: 77vw * $px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -39vw * $px;
    @media all and (max-width: 500px){
      margin-right: 0;
    }
  }
  &__item{
    width: calc(25% - (39vw * $px));
    margin-right: 39vw * $px;
    text-decoration: none;
    margin-bottom: 77vw * $px;
    @media all and (max-width: 1200px){
      width: calc(33.333% - (39vw * $px));
    }
    @media all and (max-width: 860px){
      width: calc(50% - (39vw * $px));
    }
    @media all and (max-width: 500px){
      width: 100%;
      margin-right: 0;
      margin-bottom: 77px;
    }
    &:not(.products__item-desc):hover{
      .products__item-prev{
        &:before{
          background-color: rgba(183, 141, 65, 0.7);
        }
      }
      .products__item-shtamp{
        opacity: 1;
      }
    }
    &-desc{
      display: flex;
      align-items: flex-start;
      .products__item-prev{
        height: 348vw * $px;
      }
      .products__item-bg{
        height: 348vw * $px;
        display: flex;
        align-items: flex-end;
      }
      p{
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: #191919;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    &-shtamp{
      position: absolute;
      width: 168vw * $px;
      height: 168vw * $px;
      top: calc(50% - (84vw * $px));
      left: calc(50% - (84vw * $px));
      pointer-events: none;
      opacity: 0;
      transition: $transition;
    }
    &-prev{
      display: block;
      width: 100%;
      height: 348vw * $px;
      margin-bottom: 27vw * $px;
      position: relative;
      @media all and (max-width: 1200px){
        height: auto;
      }
      &:before{
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        background-color: rgba(183, 141, 65, 0);
        width: 100%;
        height: 100%;
        transition: $transition;
      }
      .products__item-bg{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &-title{
      font-family: 'Futura PT';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 131%;
      color: #191919;
      @media all and (max-width: 1400px){
        font-size: 15px;
      }
      @media all and (max-width: 500px){
        font-size: 16px;
      }
    }
  }
  .big-title{
    margin-bottom: 0;
  }
  &__form{
    padding: 7.8rem 8.8rem 6rem 8.8rem;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #B78D41;
    margin-top: 3.9rem;
    ul{
      ul{
        column-count: 4;
        li{
          margin-bottom: 1.8rem;
          label{
            font-family: 'Playfair Display';
            font-size: 1.6rem;
            line-height: 100%;
            color: #191919;
            display: flex;
            align-items: center;
            font-style: italic;
            .sf-count{
              display: none;
            }
            &:before{
              width: 20px;
              height: 20px;
              content: "";
              display: block;
              margin-right: 2rem;
              border: 2px solid #191919;
            }
          }
          input{
            display: none;
          }
          input:checked + label:before{
            background-color: #B78D41;
            border: 2px solid #B78D41;
          }
        }
      }
    }
  }
}
