.product{
  //padding-bottom: 130vw * $px;

  &-else {
    background: linear-gradient(0deg, #FEF4E3 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    padding-bottom: 80vw * $px;
    position: relative;
    @media all and (max-width: 900px){
      padding-top: 142px;
    }
    @media all and (max-width: 500px){
      background-color: #FEF4E3;
      z-index: -1;
    }
    &__container{
      display: flex;
      @media all and (max-width: 768px){
        flex-wrap: wrap;
      }
    }
  }
  &__block{
    border: 1px solid #B78D41;
    @media all and (max-width: 500px){
      border-left: none;
      border-right: none;
    }
    &-item{
      border-bottom: 1px solid #B78D41;
      padding: 1.1rem 2.6rem;
      margin-bottom: 0;
      font-family: 'Futura PT';
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.2rem;
      color: #191919;
      &:hover{
        font-weight: 500;
        color: #B78D41;
      }
      &:nth-child(even){
        background-color: rgba(183, 141, 65, 0.03);
      }
      &:nth-child(odd){
        background-color: #FFFFFF;
        @media all and (max-width: 500px){
          background-color: #FFFFFF;
        }
      }
      p,a{
        margin-bottom: 0;
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #191919;
        text-decoration: none;
        &:hover{
          font-weight: 500;
          color: #B78D41;
        }
      }
      &:last-child{
        border-bottom: none;
      }
    }
    &-title{
      margin-bottom: 4.6rem;
    }
  }
}