.product{
  &-about{
    padding-bottom: 90vw * $px;
    &__container{
      display: flex;
    }
  }
  &__block{
    &-column{
      column-width: 50%;
      column-count: 2;
      column-gap: 40px;
      p{
        margin-bottom: 1em;
      }
    }
  }
}