.product{
  &-about{
    padding-bottom: 90vw * $px;
    position: relative;
    &__container{
      display: flex;
      @media all and (max-width: 768px){
        flex-wrap: wrap;
      }
    }
    ul{
      margin-left: 2em;
      margin-bottom: 2em;
    }
    li{
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 138.52%;
      color: #000;
      margin-bottom: 0;
      list-style: disc;
    }
  }
  &__block{
    @media all and (max-width: 500px){
      margin-right: -20px;
      margin-left: -20px;
      width: calc(100% + 40px);
    }
    &-column{
      column-width: 50%;
      column-count: 2;
      column-gap: 40px;
      @media all and (max-width: 768px){
        column-count: 1;
        column-width: 100%;
      }
      p{
        margin-bottom: 1em;
      }
      h1,h2,h3,h4,h5{
        color: #191919;
        font-family: "Playfair Display";
        font-size: 18px;
      }
    }
  }
}