.product{
  margin-top: 223vw * $px;
  margin-bottom: 66vw * $px;
  @media all and (max-width: 500px){
    padding-bottom: 0;
    margin-bottom: 0;
  }
  &__container{

  }
  &__header{
    display: flex;
    flex-wrap: wrap;
  }
  &__name{
    width: 50%;
    @media all and (max-width: 768px){
      width: 100%;
    }
    a{
      display: inline-block;
    }
  }
  &__title{
    width: 50%;
    margin-bottom: 0;
    @media all and (max-width: 768px){
      width: 100%;
    }
    span{
      display: inline-block;
    }
  }
  &__content{
    margin-top: 102vw * $px;
    display: flex;
    flex-wrap: wrap;
    @media all and (max-width: 768px){
      position: relative;
      padding-bottom: 100px;
    }
    @media all and (max-width: 500px){
      position: relative;
      padding-bottom: 0;
      margin-top: 60px;
    }
    &-left{
      width: 50%;
      @media all and (max-width: 500px){
        width: 100%;
      }
    }
    &-right{
      width: calc(50% + 169px);
      margin-right: -169px;
      a{
        display: block;
        max-height: 745vw * $px;
        height: auto;
        width: 100%;
        @media all and (max-width: 500px){
          max-height: none;
        }
      }
      @media all and (max-width: 500px){
        width: 100%;
        margin-right: 0;
        height: auto;
        margin-top: 30px;
      }
      img{
        width: 100%;
        @media all and (max-width: 500px){
          width: calc(100% + 40px);
          margin-right: -20px;
          margin-left: -20px;
          max-width: none;
        }
      }
    }
    &-tl{
      margin-top: 96vw * $px;
      height: 348vw * $px;
      width: 285vw * $px;
      display: block;
      @media all and (max-width: 500px){
        width: 100%;
        height: auto;
      }
    }
    &-bl{
      margin-top: 214vw * $px;
      margin-left: 325vw * $px;
      height: 207vw * $px;
      width: 170vw * $px;
      display: block;
      @media all and (max-width: 500px){
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 30px;
      }
    }
  }
  &__desc{
    max-width: 285px;
    margin-top: 127vw * $px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 0.05em;
    color: #191919;
    @media all and (max-width: 768px){
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      max-width: none;
      margin-left: 0;
    }
    @media all and (max-width: 500px){
      position: static;
      p{
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}