.products-single{
  background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 20.31%, #FEF4E3 41.15%, rgba(254, 244, 227, 0.7) 73.96%, #FFFFFF 100%);
  padding-bottom: 77vw * $px;
  min-height: 50vw;
  &__container{

  }
  &__header{
    padding-top: 222vw * $px;
    background-color: #FFFFFF;
    position: relative;
    @media all and (max-width: 900px){
      display: flex;
      flex-direction: column;
    }
  }
  &__title{
    max-width: 525vw * $px;
    text-align: left;
    @media all and (max-width: 900px){
      max-width: none;
    }
  }
  &__list{
    //@media all and (max-width: 500px){
    //  margin-right: -20px;
    //  margin-left: -20px;
    //  width: calc(100% + 40px);
    //}
    h1,h2,h3,h4,h5{
      font-size: 16px;
      line-height: 150%;
    }
    li{
      a{
        color: #191919;
        text-decoration: none;
      }
    }
  }
  &__desc{
    width: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    @media all and (max-width: 1024px){
      padding-right: 75px;
    }
    @media all and (max-width: 900px){
      width: 100%;
    }
    @media all and (max-width: 768px){
      padding-right: 50px;
    }
    @media all and (max-width: 500px){
      padding-right: 20px;
    }
    .about__marker{
      margin-bottom: 52vw * $px;
      display: flex;
      align-items: center;
      text-decoration: none;
      &:after{
        display: none;
      }
      svg{
        margin-right: 2.1rem;
      }
    }
    ul, ol{
      margin-bottom: 62vw * $px;
      background-color: #FEF4E3;
      padding: 3.1rem 2.9rem 3.1rem 2.9rem;
      max-width: 402vw * $px;
      @media all and (max-width: 900px){
        max-width: none;
      }
      li{
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 100%;
        color: #B78D41;
        margin-bottom: 1em;
        padding-left: 1.5rem;
        &:last-child{
          margin-bottom: 0;
        }
        &::marker{
          content: "+";
        }
      }
    }
  }
  &__sostav{
    &-item{
      font-style: normal;
      font-size: 1.6rem;
      line-height: 3rem;
      color: #191919;
      margin-bottom: 0;
    }
  }
  &__img{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 213vw * $px;
    width: 60vw;
    @media all and (max-width: 900px){
      position: relative;
      width: 90vw;
    }
    @media all and (max-width: 500px){
      width: 100%;
      top: 0;
    }
    > img{
      pointer-events: none;
      height: 100%;
      width: auto;
      max-width: 89%;
      @media all and (max-width: 500px){
        max-width: 100%;
      }
    }
  }
  &__lnk{
    z-index: 2;
    display: inline-block;
    position: absolute;
    top: 61vw * $px;
    right: 50%;
    @media all and (max-width: 500px){
      top: auto!important;
      bottom: -94px;
      right: 20px;
    }
    img{
      width: 168px;
      height: 168px;
      @media all and (max-width: 500px){
        width: 114px;
        height: 114px;
      }
    }
  }
}
.product__w50{
  width: 50%;
  @media all and (max-width: 768px){
    width: 100%;
  }
}